<h1>Users</h1>
<table padding="10px" , border="1px" , cellspacing="10px">
<thead>
<tr>
    <th>Name</th>
    <th>Content</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>
</thead>

<tbody id="append-user" >
<% @users.each do |user| %>
    <%= render "users/show1", user: user %>
<% end %>
</tbody>
</table>